@page
@model SchedulingSystemWeb.Pages.Student.ListOfProvidersModel

<form id="searchForm" method="post">
    <select name="role" required>
        <option value="">-- Select Role --</option>
        @foreach (var role in Model.Roles)
        {
            if (role.Name != "STUDENT") @* this makes sure that student schedules can't be searched' *@
            {
                <option value="@role.Name">@role.Name</option>
            }          
        }
    </select>

    <!-- Deparment dropdown-->
    <select name="department" required>
        <option value="">-- Department --</option>
        @foreach(var d in Model.departmentList)
        {
            <option value ="@d.Id">@d.Name</option>
        }
    </select>

    <button type="submit">Search</button>
</form>

<form id="newStudentForm" method="post">
    <input type="hidden" name="role" value="ADVISOR">
    <input type="hidden" name="department" value="2">
    <button type="submit">New Student</button>
</form>


<script>
    document.getElementById("newStudentForm").addEventListener("submit", function (event) {
        // Prevent the default form submission behavior
        event.preventDefault();
        // Submit the form
        document.getElementById("newStudentForm").submit();
    });
    document.getElementById("searchForm").addEventListener("submit", function (event) {
        var role = document.getElementsByName("role")[0].value;
        var department = document.getElementsByName("department")[0].value;

        if (role === "" || department === "") {
            event.preventDefault(); // Prevent form submission
            alert("Please select both a role and a department.");
        }
    });
</script>