@page
@model SchedulingSystemWeb.Pages.Student.ListOfProvidersModel
@{
}
<table>
    <thead>
        <tr>
            <th>
                Provider Name
            </th>
            <th>
                Provider Email
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.objApplicationUserList)
        {
            <div>
                <h3>User: @user.FullName</h3>
                <ul>
                    @foreach (var role in Model.UserRoles[user.Id])
                    {
                        <li>@role</li>
                    }
                </ul>
            </div>
        }
    </tbody>



</table>