@page
@model SchedulingSystemWeb.Pages.Student.ListOfProvidersModel
@{
}
<table>
    <thead>
        <tr>
            <th>
                Provider Name
            </th>
            <th>
                Provider Email
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.objApplicationUserList)
        {
        <tr>
            <td style="width:50%">@obj.FullName</td>
            <td style="width:50%">@obj.Email</td>
                <td>
                    <!-- Button to navigate to another page -->
                    <a asp-page="/Student/Bookings/Upsert" asp-route-fullname="@obj.FullName" asp-route-email="@obj.Email" class="btn btn-primary">Schedule Appointment</a>
                </td>
        </tr>
        }
    </tbody>



</table>