@page
@model SchedulingSystemWeb.Pages.Student.ListOfProvidersModel

<form id="searchForm" method="post">
    <select name="role" required>
        <option value="">Select Role</option>
@*         @foreach (var role in Model.UserRoles.Values.SelectMany(x => x).Distinct())
        { *@
            <option value="TUTOR">TUTOR</option>
            <option value="TEACHER">TEACHER</option>
            <option value="ADVISOR">ADVISOR</option>
       @*  } *@
    </select>

    <!-- Deparment dropdown-->
    <select name="department" required>
        <option value="">Department</option>
        @foreach(var d in Model.departmentList)
        {
            <option value ="@d.Id">@d.Name</option>
        }
    </select>
    <button type="submit">Search</button>
</form>
<button>New Student</button> <!--call General deaprment-->

<script>
    document.getElementById("searchForm").addEventListener("submit", function (event) {
        var role = document.getElementsByName("role")[0].value;
        var department = document.getElementsByName("department")[0].value;

        if (role === "" || department === "") {
            event.preventDefault(); // Prevent form submission
            alert("Please select both a role and a department.");
        }
    });
</script>
