@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<head>
    <script>
        function toggleInput() {
            var checkbox = document.getElementById("showWNumber");
            var wNumberField = document.getElementById("wNumberField");

            if (checkbox.checked) {
                wNumberField.style.display = "block";
            } else {
                wNumberField.style.display = "none";
            }
        }
        function validateForm() {
            var wNumberInput = document.getElementById("wNumber");
            var wNumberValue = wNumberInput.value.trim();

            if (wNumberValue !== "" && !/^\d+$/.test(wNumberValue)) {
                alert("WNumber must contain only numbers.");
                return false;
            }

            return true;
        }
    </script>
</head>
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" onsubmit="return validateForm()">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName">First Name:</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName">Last Name:</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNum" class="form-control" aria-required="true" />
                <label asp-for="Input.PhoneNum">Phone Number:</label>
                <span asp-validation-for="Input.PhoneNum" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <label for="showWNumber">Are you a current WSU student?</label>
            <input type="checkbox" id="showWNumber" onchange="toggleInput()">

            <div id="wNumberField" style="display: none;">
                <label for="wNumber">WNumber (Only Numbers):</label>
                <input class="form-control" id="wNumber" asp-for="Input.WNumber">
            </div>
            @if(User.IsInRole("ADMIN"))
            {
                <div class="form-group row pt-4">
                    <div class="mb-3 col-6">
                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                            <option disabled selected>--Select Role--</option>
                        </select>
                    </div>
                </div>
            }
            
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
