@page

@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">CS 4760 CodeMonkeys Scheduling System</h1>
    <h2 class="display-3 ">Created by:</h2>
    <ul class="list-group">
        <li class="list-group-item">Trevor Sheridan</li>
        <li class="list-group-item">Ethan Harden</li>
        <li class="list-group-item">Torin Lamberson</li>
        <li class="list-group-item">Preston Johnson</li>
        <li class="list-group-item">Matthew Braden</li>
    </ul>
</div>
