@page

@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">CS 4760 CodeMonkeys Scheduling System</h1>
    <style>
        .list-group-item a {
            color: white;
        }
    </style>
    <p class="text-center">This project was made for Weber State during the fall 2024 semester, by the group Code Monkeys. We first Identified an issue in that all of our teachers, advisors and tutors used different systems to book and schedule appointments with students,
        which caused confusion and wasted school resources. So using ASP.net razor and going through the SDLC we met with the stackholders to identify what they wanted in a new system, and what there current systems did well. Then we developed the application using agile 
        methodology, and deployed the website.
    </p>
    <h4 class="display-3 ">Created by:</h4>
    <ul class="list-group light-theme">
        <li class="list-group-item">Trevor Sheridan <a href="https://www.linkedin.com/in/trevor-sheridan-36406a1b6/" target="_blank">LinkedIn</a> <a href="mailto:sheridad33@gmail.com" target="_blank">sheridad33@gmail.com</a></li>
        <li class="list-group-item">Ethan Harden  <a href="https://www.linkedin.com/in/ethan-harden-5b1290293/" target="_blank">LinkedIn</a> <a href="mailto:ethanjharden3@gmail.com" target="_blank">ethanjharden3@gmail.com</a></li>
        <li class="list-group-item">Torin Lamberson  <a href="https://www.linkedin.com/in/torin-lamberson-008235268/" target="_blank">LinkedIn</a> <a href="mailto:chaotictorin@gmail.com" target="_blank">chaotictorin@gmail.com</a></li>
        <li class="list-group-item">Preston Johnson  <a href="www.linkedin.com/in/preston-johnson-271469300" target="_blank">LinkedIn</a> <a href="mailto:johnson.m.preston@gmail.com " target="_blank">johnson.m.preston@gmail.com </a></li>
        <li class="list-group-item">Matthew Braden  <a href="https://www.linkedin.com/in/mattybraden/" target="_blank">LinkedIn</a> <a href="mailto:matt.braden00@gmail.com" target="_blank">matt.braden00@gmail.com</a></li>
    </ul>
</div>
