@page
@model SchedulingSystemWeb.Pages.Student.ListOfProvidersModel

<form id="searchForm" method="post">
    <select name="role">
        <option value="">All Roles</option>
        @*         @foreach (var role in Model.UserRoles.Values.SelectMany(x => x).Distinct())
        { *@
        <option value="TUTOR">TUTOR</option>
        <option value="TEACHER">TEACHER</option>
        <option value="ADVISOR">ADVISOR</option>
        @*  } *@
    </select>
    <!-- Deparment dropdown-->
    <select name="department">
        <option value="">Department</option>
        @* <option value ="@user.Id">@user.FirstName @user.LastName</option> *@
        <option value="1">Computer Science</option>
        <option value="2">Math</option>
        <option value="3">Science</option>
    </select>
    <button type="submit">Search</button>
</form>
<button>New Student</button> <!--call General deaprment-->